
#bleu{
    font-size: 60px;
    background-color: rgba(10, 255, 255, 0.993);
    text-align: center;
}

#yellow{
    position:relative;
    background-color: yellow;
    font-size: 50px;
    padding-left;
    height: 450px;
    text-align: center;
    line-height: 450px; ;
    
}
#bandeau{



}



#contenu{


    
}

#PiedDePage{
position:relative;
background-color: rgb(32, 233, 14);
font-size: 60px;
text-align: center;

}