
#bandeau{
    font-size: 60px;
    background-color: rgba(10, 255, 255, 0.993);
    text-align: center;
}

#contenu{
    position:relative;
    background-color: yellow;
    font-size: 50px;
    height: 450px;
    text-align: center;
    line-height: 450px; 
    
}


#PiedDePage{
position:relative;
background-color: rgb(32, 233, 14);
font-size: 60px;
text-align: center;
}



#Menu1{
position: absolute;
top: 0px;
background-color: rgb(2, 131, 37);
width: 25%;
height: 50%;
text-align: center;
line-height: 225px;


}
#Menu2{
    position: absolute;
    bottom: 0px;
    background-color: rgb(128, 15, 128);
    width: 25%;
    height: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 225px;
    
    
    }
